*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Merienda', cursive
}

/* ---- MENU PRINCIPAL ----*/
.header{
    position: fixed;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
}
.menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    
}

.menu img{
    width: 7;
    height: 70%;
    margin: auto;
    transition: transform .5s;
}
.menu img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.menu a{
    margin: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    transition: transform .5s;
}

.menu a:hover{
    transform: translateY(20%);
    border-bottom: 2px solid whitesmoke;
}

.menu2{
    position: absolute;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    right: 5%;
}

/*  ----  INICIO  ----  */
.inicio{
    width: 100%;
    height: 100vh;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cont-inicio{
    width: 90%;
    height: 75%;
    display: flex;

}

.imagenfondo{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

.cont-textos{
    width: 45%;
    height: 90%;
    margin: auto;
    box-shadow: 0 0 10px 0 #ffffff;
}

.cont-imagen{
    width: 45%;
    height: 90%;
    margin: auto;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-image: url(../imgs/casa7.png);

}