*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Merienda', cursive
}

/* ---- MENU PRINCIPAL ----*/
.header{
    position: fixed;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    z-index: 10;
}
.menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    
}

.menu img{
    width: 7%;
    height: 70%;
    margin: auto;
    transition: transform .5s;
}
.menu img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.menu a{
    margin: auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    transition: transform .5s;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.menu a:hover{
    color: #ffffff;
    transform: translateY(20%);
    border-bottom: 2px solid rgb(104, 155, 221);
    
}

.menu2{
    position: absolute;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    right: 5%;
}

/*  ----  MENU 2  ----  */

.menu-navegacion{
    position: fixed;
    top: 0px;
    left: 0;
    width: 28%;
    height: 100%;
    background: rgba(250, 249, 249, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform .3s ease-in-out;
    transform: translate(-200%);
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
    z-index: 100;
    }
    
    .spread{
        transform: translate(0);
    }
    
    
    .cont-menu nav a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: rgb(0, 0, 0);
        border-left: 5px solid transparent;
        transition: all 400ms ease;
        transition: transform .5s;
        text-align: center;
        font-size: 2.3rem;
        z-index: 10;
        margin: 1.5rem 0;
        width: 100%;
        height: 10%;
    }
    
    .cont-menu nav a:hover{
        border-left: 5px solid rgb(0, 138, 230);
        background-color: rgba(66, 134, 244, .5);
        transform: translateX(1.5rem);
        color: #000000;
    }
    
    .spread{
        transform: translate(1);
    }
    







/*  ----  INICIO  ----  */
.inicio{
    width: 100%;
    height: 100vh;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cont-inicio{
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
}

.imagenfondo{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
}

.cont-textos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.cont-textos button{
    width: 50%;
    height: 5%;
    font-size: 1.2rem;
    border: none;
    background-color: #2B32B2;
    color: #ffffff;
    transition: transform .5s;
}
.cont-textos button:hover{
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 0 0 5px 0 #9ddafd;
}

.cont-textos h1{
    font-size: 3.3rem;
    text-align: center;
    text-align: center;
}

.cont-textos p{
    font-size: 1.3rem;
    text-align: center;
}

.registro{
    width: 100%;
    display: flex;
    margin: 1rem;
}
#input{
    width: 70%;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin: 1rem 0;
    font-size: 2rem;
}

#btn{
    width: 20%;
    height: 2.5rem;
    font-size: 1.5rem;
    margin: auto;
    background-color: #2B32B2;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: transform .5s;
}
#btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.cont-imagen{
    width: 100%;
    height: 100%;
    margin: 1rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.cont-imagen img{
    width: 100%;
    height: 100%;
}

/*  ----  SECCION CASAS  ----  */

.seccion{
    width: 100%;
    height: 100vh;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.casas{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-attachment: fixed;
    background-image: url(../imgs/casaiso1.png);
    
}

.casas p{
    position: absolute;
    color: #000000;
    font-size: 2.2rem;
    text-shadow: 3px 3px 5px rgba(0, 10, 20, 0.5);
    
}

.cont-casas{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.capa{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    backdrop-filter: blur(5px);
}
.capa h3{
    color: #ffffff;
    text-shadow: 3px 3px 5px black;;
}

.capa:hover{
    transform: scale(0);
}

.casa{
    position: relative;
    width: 21%;
    height: 30%;
    margin: auto;
    transition: transform .5s;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .5);
}

.casa:hover{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0 20px 0 #020202;
}

#cs1{
    background-image: url(../imgs/casa30.png);    
}
#cs2{
    background-image: url(../imgs/casa32.png);    
}
#cs3{
    background-image: url(../imgs/casa7.png);    
}
#cs4{
    background-image: url(../imgs/casa1.png);    
}
#cs5{
    background-image: url(../imgs/casa11.png);    
}
#cs6{
    background-image: url(../imgs/casa18.png);    
}
#cs7{
    background-image: url(../imgs/casa6.png);    
}
#cs8{
    background-image: url(../imgs/casa4.png);    
}

.wavi{
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*  ----  LIGHT-BOX  ----  */

.img-light-1{
    position: fixed;
    z-index: 600;
    background: rgba(85, 85, 85, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
}

.show{
    transform: translate(0);
}


.close{
    position: absolute;
    top: .5rem;
    right: 1.5rem;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: transform .3s;
}
.close:hover{
    transform: scale(1.2);
}

.cont-fondo1{
    position: relative;
    display: flex;
    justify-content: center;
    width: 87%;
    height: 85%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.cont-light{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cont-imagenes{
    display: flex;
    width: 90%;
    height: 50%;
}
.cont-light h2{
    margin-top: 1.5rem;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    
}
.cont-light p{
    
    font-size: 1.5rem;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.foto-light-1{
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 23%;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .5);
    opacity: .7;
}

#office1{
    background-image: url(../imgs/office5.png);
}
#office2{
    background-image: url(../imgs/office3.png);
}
#office3{
    background-image: url(../imgs/office7.png);
}
#office4{
    background-image: url(../imgs/office6.png);
}


/*  ----  SECCION CREDITOS  ----  */

.creditos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-creditos{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txtcred{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.txtcred h2{
    font-size: 3rem;
}

.txtcred p{
    font-size: 1.2rem;
    text-align: center;
}

.imagencs{
    width: 60%;
}

.imagencs img{
    width: 100%;
}

.cont-cred{
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.cont-cred img{
    width: 20%;
    height: 50%;
    margin: auto;
    transition: transform .5s;
}

.cont-cred img:hover{
    transform: scale(1.1);
    cursor: pointer;
}





/*  ----  SECCION NOSOTROS  ----  */

.nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-nosotros{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nos{
    width: 25%;
    height: 55%;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .7);
    border-radius: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
    
}

.capa1{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.capa1:hover{
    transform: scale(0);
    cursor: pointer;
}
.vision{
    background-image: url(../imgs/mvv3.png);
}

.valores{
    width: 35%;
    height: 75%;
}
#valores{
    
    background-image: url(../imgs/mvv1.png);
}
#mision{
    
    background-image: url(../imgs/mvv2.png);
}
#vision{
    
    background-image: url(../imgs/mvv3.png);
}



.nos p{
    font-size: 1.4rem;
    text-align: center;
}


/*  ----  SECCION FORMULARIO  ----  */

.form{
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.registrar{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.imagen-registrarse{
    width: 55%;
    height: 95%;
    background-image: url(../imgs/casaiso.png);
    opacity: .8;
    
}


.cont-form{
    width: 70%;
    height: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.formulario{
    width: 45%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.formulario h2{
    font-size: 3rem;
    margin: 1rem;

}
.formulario input{
    width: 85%;
    height: 2rem;
    border-radius: 10px;
    border: none;
    text-align: center;
    margin: .5rem;
    font-size: 1.3rem;
}
#mensaje{
    height: 6rem;
}
#btn-registrar{
    width: 40%;
    transition: transform .5s;
    background-color: #4286f4;
    color: #ffffff;
}

#btn-registrar:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.footer{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    background-image: url(../imgs/casaiso4.png);
}

.cont-footer{
    width: 90%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    border-top: 2px solid #4286f4;
    width: 30%;
    height: 95%;
    margin: auto;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info a{
    font-size: 1.5rem;
    text-decoration: none;
    margin: .5rem;
    color: #000000;
    text-shadow: 1px 1px 5px #028dff;
    transition: transform .5s;
}

.info a:hover{
    transform: scale(1.1);
    border-bottom: 2px solid #000000;
}

.cont-redes{
    width: 80%;
    height: 70%;
    display: flex;
}

.cont-redes img{
    width: 20%;
    height: 30%;
    border-radius: 50%;
    margin: auto;
    transition: transform .5s;
}

.cont-redes img:hover{
    transform: scale(1.15);
    cursor: pointer;
}

#pie{
    display: flex;
    font-size: 1.4rem;
    justify-content: center;
}