

@media (min-width: 100px) AND (max-width: 480px) { 
    *{
        margin: 0;
        padding: 0;
    }
  
    .header{
      display: none;
  }

  .cont-inicio{
      flex-direction: column-reverse;
      height: 100vh;
  }

  .cont-textos button{
      font-size: .9rem;
  }

  .cont-textos h1{
    font-size: 2.5rem;
  }

  .cont-textos p{
      margin: 0.2rem;
      font-size: 1rem;
  }

  .cont-imagen{
      height: 40%;
  }

  .registro{
      margin: 0;
  }
  .registro #btn{
      font-size: 1rem;
  }

  .registro #input{
      font-size: 1.7rem;
  }

  .casas p{
      font-size: 1.15rem;
      text-align: center;
  }

  .casa{
      width: 45%;
      height: 20%;
  }

  .casas{
      flex-direction: column;
  }
  .casas p{
     position: relative;
     margin: 0;
     padding: .3rem;
  }

  .testimonios{
      flex-direction: column;
  }

  .carrusel{
      width: 95%;
      height: 45%;
      margin: 1rem;
  }

  .comentarios{
    width: 100%;
  }

  .test{
      margin: .5rem;
  }




  .form{
      width: 100%;
  }

  .cont-form{
      width: 100%;
  }

  .formulario{
      width: 90%;
  }
}