

@media (min-width: 100px) AND (max-width: 480px) { 
    *{
        margin: 0;
        padding: 0;
    }
  
    .header{
      display: none;
  }

  .cont-inicio{
      flex-direction: column-reverse;
      height: 100vh;
  }

  .cont-textos button{
      font-size: .9rem;
  }

  .cont-textos h1{
    font-size: 2.5rem;
  }

  .cont-textos p{
      margin: 0.2rem;
      font-size: 1rem;
  }

  
  .cont-imagen{
      height: 40%;
  }

  
  .registro #btn{
      font-size: 1rem;
  }

  .registro #input{
      font-size: 1.7rem;
  }

  .casas p{
      font-size: 1.15rem;
      text-align: center;
  }

  .casa{
      width: 45%;
      height: 20%;
  }

  .casas{
      flex-direction: column;
  }
  .casas p{
     position: relative;
     margin: 0;
     padding: .3rem;
  }

  .cont-light h2{
      font-size: 2.5rem;
  }
  .cont-light p{
    font-size: 1.3rem;
    padding: 1rem;
  }


  .cont-nosotros{
      flex-direction: column;
  }

  .nos{
      border-radius: 10%;
      width: 80%;
      height: 30%;
  }

  .nos h2{
      font-size: 2rem;
  }

  .nos p{
      font-size: 1.3rem;
  }

  .valores p{
      font-size: 1rem;
  }

  .cont-creditos{
      flex-direction: column-reverse;
      
  }

  .imagencs{
      width: 100%;
      height: 30%;
  }

  .txtcred{
      width: 95%;
      height: 50%;
  }

  .cont-cred{
      width: 100%;
      height: 40%;
  }



  .imagen-registrarse{
      width: 90%;
      height: 75%;
      position: absolute;
  }

  .form{
      width: 100%;
  }

  .cont-form{
      width: 100%;
  }

  .formulario{
      width: 90%;
  }

  .imag{
      display: none;
  }


  .info p{
      display: none;
  }
  .cont-redes{
      flex-direction: column;
  }

  .cont-redes img{
      width: 50%;
  }
}